[Desktop Entry]
Encoding=UTF-8
Categories=X-MateriApps;
Type=Application
Exec=firefox https://github.com/cmsi/MateriAppsLive-forum/wiki
Name=MateriApps LIVE! Users Forum
Name[ja]=MateriApps LIVE!ユーザーフォーラム
